<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.factory.mapper.GoodsInfoMapper">

    <resultMap type="com.ruoyi.factory.domain.vo.GoodsInfoVo" id="GoodsInfoResult">
        <result property="id" column="id"/>
        <result property="entId" column="ent_id"/>
        <result property="name" column="name"/>
        <result property="goodsType" column="goods_type"/>
        <result property="goodsBrand" column="goods_brand"/>
        <result property="costPrice" column="cost_price"/>
        <result property="salesPrice" column="sales_price"/>
        <result property="inventory" column="inventory"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectGoodsInfoVo">
        select id,
               ent_id,
               name,
               goods_type,
               goods_brand,
               cost_price,
               sales_price,
               inventory,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time
        from goods_info
    </sql>

    <select id="selectGoodsInfoList" parameterType="com.ruoyi.factory.domain.vo.GoodsInfoVo"
            resultMap="GoodsInfoResult">
        select goods.*,ent.ent_name as entName
        from goods_info goods
        left join enterprise_base ent on ent.id = goods.ent_id
        <where>
            goods.del_flag = 0
            <if test="entId != null ">
                and goods.ent_id = #{entId}
            </if>
            <if test="name != null  and name != ''">
                and goods.name like concat('%', #{name}, '%')
            </if>
            <if test="goodsType != null  and goodsType != ''">
                and goods.goods_type = #{goodsType}
            </if>
            <if test="goodsBrand != null  and goodsBrand != ''">
                and goods.goods_brand = #{goodsBrand}
            </if>
            <if test="costPrice != null ">
                and goods.cost_price = #{costPrice}
            </if>
            <if test="salesPrice != null ">
                and goods.sales_price = #{salesPrice}
            </if>
            <if test="inventory != null ">
                and goods.inventory = #{inventory}
            </if>
            <if test="status != null  and status != ''">
                and goods.status = #{status}
            </if>
        </where>
    </select>

    <select id="selectGoodsInfoById" parameterType="Long" resultMap="GoodsInfoResult">
        <include refid="selectGoodsInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertGoodsInfo" parameterType="com.ruoyi.factory.domain.GoodsInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into goods_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entId != null">ent_id,</if>
            <if test="name != null">name,</if>
            <if test="goodsType != null">goods_type,</if>
            <if test="goodsBrand != null">goods_brand,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="salesPrice != null">sales_price,</if>
            <if test="inventory != null">inventory,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entId != null">#{entId},</if>
            <if test="name != null">#{name},</if>
            <if test="goodsType != null">#{goodsType},</if>
            <if test="goodsBrand != null">#{goodsBrand},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="salesPrice != null">#{salesPrice},</if>
            <if test="inventory != null">#{inventory},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateGoodsInfo" parameterType="com.ruoyi.factory.domain.GoodsInfo">
        update goods_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="entId != null">ent_id = #{entId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="goodsType != null">goods_type = #{goodsType},</if>
            <if test="goodsBrand != null">goods_brand = #{goodsBrand},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="salesPrice != null">sales_price = #{salesPrice},</if>
            <if test="inventory != null">inventory = #{inventory},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteGoodsInfoById" parameterType="Long">
        update goods_info
        set del_flag = 1
        where id = #{id}
    </update>

    <update id="deleteGoodsInfoByIds" parameterType="String">
        update goods_info
        set del_flag = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
