<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.examine.mapper.ExamineItemMapper">

    <resultMap type="com.ruoyi.examine.domain.ExamineItem" id="ExamineItemResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="referenceValue" column="reference_value"/>
        <result property="sexStatus" column="sex_status"/>
        <result property="defaultStatus" column="default_status"/>
        <result property="showUser" column="show_user"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="autoStatus" column="auto_status"/>
        <result property="maxAutoValue" column="max_auto_value"/>
        <result property="minAutoValue" column="min_auto_value"/>
    </resultMap>

    <sql id="selectExamineItemVo">
        select id,
               name,
               reference_value,
               sex_status,
               default_status,
               show_user,
               remark,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               auto_status,
               max_auto_value,
               min_auto_value
        from examine_item
    </sql>

    <select id="selectExamineItemList" parameterType="com.ruoyi.examine.domain.ExamineItem"
            resultMap="ExamineItemResult">
        <include refid="selectExamineItemVo"/>
        <where>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="referenceValue != null and referenceValue != ''">and reference_value = #{referenceValue}</if>
            <if test="defaultStatus != null and defaultStatus != ''">and default_status = #{defaultStatus}</if>
            <if test="sexStatus != null and sexStatus != ''">and sex_status = #{sexStatus}</if>
            <if test="showUser != null and showUser != ''">and show_user = #{showUser}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="autoStatus != null and autoStatus != ''">and auto_status = #{autoStatus}</if>
        </where>
    </select>

    <select id="selectExamineItemById" parameterType="Long" resultMap="ExamineItemResult">
        <include refid="selectExamineItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertExamineItem" parameterType="com.ruoyi.examine.domain.ExamineItem" useGeneratedKeys="true"
            keyProperty="id">
        insert into examine_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="referenceValue != null">reference_value,</if>
            <if test="sexStatus != null">sex_status,</if>
            <if test="defaultStatus != null">default_status,</if>
            <if test="showUser != null">show_user,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="autoStatus != null">auto_status,</if>
            <if test="maxAutoValue != null">max_auto_value,</if>
            <if test="minAutoValue != null">min_auto_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="referenceValue != null">#{referenceValue},</if>
            <if test="sexStatus != null">#{sexStatus},</if>
            <if test="defaultStatus != null">#{defaultStatus},</if>
            <if test="showUser != null">#{showUser},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="autoStatus != null">#{autoStatus},</if>
            <if test="maxAutoValue != null">#{maxAutoValue},</if>
            <if test="minAutoValue != null">#{minAutoValue},</if>
        </trim>
    </insert>

    <update id="updateExamineItem" parameterType="com.ruoyi.examine.domain.ExamineItem">
        update examine_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="referenceValue != null">reference_value = #{referenceValue},</if>
            <if test="sexStatus != null">sex_status = #{sexStatus},</if>
            <if test="defaultStatus != null">default_status = #{defaultStatus},</if>
            <if test="showUser != null">show_user = #{showUser},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="autoStatus != null">auto_status = #{autoStatus},</if>
            <if test="maxAutoValue != null">max_auto_value = #{maxAutoValue},</if>
            <if test="minAutoValue != null">min_auto_value = #{minAutoValue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExamineItemById" parameterType="Long">
        delete
        from examine_item
        where id = #{id}
    </delete>

    <delete id="deleteExamineItemByIds" parameterType="String">
        delete from examine_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
